.card-game {
  margin-top: 20px;
  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border: 1px solid cyan;
}

.card-game > img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*Specifies how the contents of a replaced element 
  should be scaled relative to the box established by its used height and width.*/
  filter: blur(0px) brightness(50%);
}

.card-game > p {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 10px 10px;
}

.card-game > a {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 80px;
  text-decoration: none;
  left: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  transition: 1s;
}

/*Render the link on the card */
.card-game:hover > a {
  opacity: 1;
}

.card-game:hover > img {
  filter: blur(8px) brightness(50%);
}

.card-game > div {
  position: absolute;
  height: 10px;
  width: 100%;
  /* This is for the zig zag border*/
  background: repeating-linear-gradient( 
    -45deg,
    transparent 0 10px,
    rgba(0, 255, 255, 0.4) 10px 20px
  );
}

/* This is for the zig zag border top*/
.card-game > div:first-of-type {
  top: 0px;
}

/* This is for the zig zag border bottom*/
.card-game > div:last-of-type {
  bottom: 0px;
}
