@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

body {
  background-color: #222;
  color: white;
}

.text-main {
  color: cyan;
}

.bg-main {
  background-color: cyan;
}

h3 {
  color:cyan;
}
* {
  font-family: "Electrolize", sans-serif;
}

@font-face {
  font-family: "Exan";
  src: url('./Assets/Exan-Regular.ttf');
}

.font-exan {
  font-family: "Exan";
}

