@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap");

body {
  background-color: #222;
  /* color: white; */
}

.text-main {
  color: cyan;
}

.bg-main {
  background-color: cyan;
}

.bg-breen-light {
  background-color: rgba(18, 55, 55, 1);
}

h3 {
  color: cyan;
}
* {
  font-family: "Electrolize", sans-serif;
}

@font-face {
  font-family: "Exan";
  src: url("./Assets/Exan-Regular.ttf");
}

.font-exan {
  font-family: "Exan";
}

.sign-form {
  position: relative;
  padding: 30px;
  backdrop-filter: blur(8px);
}

.sign-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
}

.sign-top::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  height: 30px;
  width: 30px;
  border-left: 2px solid cyan;
  border-top: 2px solid cyan;
}

.sign-top::after {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  height: 30px;
  width: 30px;
  border-right: 2px solid cyan;
  border-top: 2px solid cyan;
}

.sing-bottom {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
}

.sign-bottom::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  height: 30px;
  width: 30px;
  border-left: 2px solid cyan;
  border-bottom: 2px solid cyan;
}

.sign-bottom::before {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  height: 30px;
  width: 30px;
  border-right: 2px solid cyan;
  border-bottom: 2px solid cyan;
}
